<?xml version="1.0" encoding="Windows-1252"?>
<LanguageManager>
    <Translations>
    
        <Translation Key="English">
            <English>English</English>
            <German>Englisch</German>
        </Translation>
    
        <Translation Key="German">
            <English>German</English>
            <German>Deutsch</German>
        </Translation>
        
        <Translation Key="Menu Language">
            <English>Language</English>
            <German>Sprache</German>
        </Translation>
        
        <Translation Key="Menu Audio">
            <English>Audio</English>
            <German>Ton</German>
        </Translation>
        
        <Translation Key="Menu Music">
            <English>Music Volume</English>
            <German>Musiklautstaerke</German>
        </Translation>
        
        <Translation Key="Menu Sound">
            <English>Sound Volume</English>
            <German>Soundlautstaerke</German>
        </Translation>
        
        <Translation Key="Menu Back">
            <English>Back</English>
            <German>Zurueck</German>
        </Translation>
        
        <Translation Key="Menu Resume">
            <English>Resume</English>
            <German>Fortsetzen</German>
        </Translation>
        
    </Translations>
</LanguageManager>