/*
 * Fonts
 */

 @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(vendor/font-poppins/poppins-regular.woff) format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(vendor/font-poppins/poppins-medium.woff) format('woff');
}

/*
 * Colors
 */

.color-dark{
  color: #353831;
}

.bg-maroon{
  background-color: #800000;
}

.bg-orange{
  background-color: #FF7F11;
}

.bg-light{
  background-color: #E5E6E4;
}

.bg-green{
  background-color: #519872;
}

.bg-dark{
  background-color: #353831;
}

/*
 * General
 */

html, body{
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #231f20;
}

body{
  padding: 35px;
}

.container-fluid{
  height: 100%;
  padding: 0;
}

a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Top bar
 */

#row-top{
  padding-bottom: 35px;
}

.top-bar{
  height: 55px;
  font-size: 18px;
}

.top-bar, .top-bar *{
  font-family: 'Poppins', sans-serif;
}

.top-bar .webgl-logo{
  float: right;
}

.top-bar .webgl-logo img{
  height: 55px;
}

.top-bar .button{
  float: left;
  background: #519872;
  padding: 5px 15px;
  margin-right: 15px;
  text-decoration: none;
  color: #353831;
  height: 55px;
  line-height: 45px;
  text-align: center;
}

.top-bar .button:hover{
  background: #E5E6E4;
  color: #353831;
  cursor: pointer;
}

.top-bar .button i, .top-bar .button span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/*
 * Progress
 */

#row-progress .progress-wrapper {
  width: 75vw;
  background: #ffffff55;
}

#row-progress .progress {
  border-radius: 0;
}

/*
 * Game
 */

#row-game {
  display: none;
}

#row-game #gameContainer {
  margin-left: auto !important;
  margin-right: auto !important;
}
