/*
 * General
 */

body
{
    padding: 0;
    margin: 0;
    background: #800000;
}

.webgl-content *{
    border: 0;
    margin: 0;
    padding: 0;
}

.webgl-content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*
 * Progress
 */

.webgl-content .logo, .progress{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.webgl-content .logo{
    background: url('images/progressLogo.png') no-repeat center / contain;
    width: 154px;
    height: 130px;
}

.webgl-content .progress{
    height: 18px;
    width: 141px;
    margin-top: 90px;
}

.webgl-content .progress .empty{
    background: url('images/progressEmpty.png') no-repeat right / cover;
    float: right;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.webgl-content .progress .full{
    background: url('images/progressFull.png') no-repeat left / cover;
    float: left;
    width: 0%;
    height: 100%;
    display: inline-block;
}

/*
 * Footer
 */

.webgl-content .footer{
    margin-top: 5px;
    height: 38px;
    line-height: 38px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 18px;
}

.webgl-content .footer .webgl-logo, .title, .fullscreen{
    height: 100%;
    display: inline-block;
    background: transparent center no-repeat;
}

.webgl-content .footer .webgl-logo{
    background-image: url('images/logo.png');
    width: 204px; 
    float: left;
}

.webgl-content .footer .title{
    margin-right: 10px;
    float: right;
}

.webgl-content .footer .fullscreen{
    background-image: url('images/fullscreen.png');
    width: 38px;
    float: right;
}
