<?xml version="1.0" encoding="utf-8"?>
<LanguageManager>
    <Translations>

        <!-- Language -->
        <Translation Key="Menu Language">
            <English>Language</English>
            <German>Sprache</German>
        </Translation>

        <Translation Key="English">
            <English>English</English>
            <German>Englisch</German>
        </Translation>
    
        <Translation Key="German">
            <English>German</English>
            <German>Deutsch</German>
        </Translation>

        <!-- Audio -->
        <Translation Key="Menu Audio">
            <English>Audio</English>
            <German>Audio</German>
        </Translation>
        
        <Translation Key="Menu Music">
            <English>Music</English>
            <German>Musik</German>
        </Translation>
        
        <Translation Key="Menu Sound">
            <English>Sound FX</English>
            <German>Sound FX</German>
        </Translation>

        <!-- Network -->
        <Translation Key="Menu Network">
            <English>Network</English>
            <German>Netzwerk</German>
        </Translation>

        <Translation Key="Menu Network Enable">
            <English>Enable Network</English>
            <German>Netzwerk Aktivieren</German>
        </Translation>
        
        <!-- Navigation -->
        <Translation Key="Menu Main Menu">
            <English>Main Menu</English>
            <German>Hauptmenü</German>
        </Translation>

        <Translation Key="Menu Pause Menu">
            <English>Pause Menu</English>
            <German>Pausenmenü</German>
        </Translation>

        <Translation Key="Menu Credits">
            <English>Credits</English>
            <German>Mitwirkende</German>
        </Translation>

        <Translation Key="Menu Lab">
            <English>Enter Lab</English>
            <German>Labor betreten</German>
        </Translation>
        
        <Translation Key="Menu Resume">
            <English>Resume</English>
            <German>Fortsetzen</German>
        </Translation>

        <Translation Key="Menu Exit">
            <English>Exit</English>
            <German>Beenden</German>
        </Translation>
        
    </Translations>
</LanguageManager>
